<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Make A Donation</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
		crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Donation Management System</a>
			</div>
			
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<h2>NGO Web Page</h2>

		<p>
			Welcome <span sec:authentication="principal.username">User</span>
		</p>
		
		<div align="center">

			<h1>Donate to [[${donation.donationType}]]</h1>
			<form action="#" th:action="@{/addDonationToCart}" method="post">
				<div class="row mt-5">
					<div class="col-sm-6 d-flex align-items-center">
						<label>Enter amount to donate: </label>
						<input type="text" th:value="*{amount}">
					</div>
					<div class="col-sm-3" th:if="${donation.canRecur}">
						<label>Check if you would like to donate this amount automatically each month</label>
						<input type="checkbox" th:value="*{recurring}">
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Add Donation To Cart</button>
			</form>
		</div>
		
		
	</div>
	
	
</body>
</html>