<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Create New User</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
		crossorigin="anonymous">
</head>

<br>
<br>
<body>
	<!-- create navigation bar(header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Donation Management System</a>
			</div>
		</div>
	</nav>
	<!-- create HTML registration form -->
	
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				

				<h1>Create New User</h1>
						<!-- user get from controller, @ModelAttribute("user")-->
						<!-- data stored in user, then to controller UserRegistrationDto object -->	
						<!-- go both directions -->						
				<form th:action="@{/save_new_user}" th:object="${user}" method="post" class="form">
					<div class="form-group">
        				<label for="firstName">First Name</label>
        				<input class="form-control" type="text" th:field="*{firstName}" id="firstName" placeholder="First Name">
       					<div class="alert alert-warning" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
    				</div>
    				
    				<div class="form-group">
        				<label for="lastName">Last Name</label>
        				<input class="form-control" type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
        				<div class="alert alert-warning" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
    				</div>
    				
    				<div class="form-group">
        				<label for="email">Email</label>
        				<input class="form-control" type="text" th:field="*{email}" id="email" placeholder="Email">
        				<div class="alert alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    				</div>
    				
    				<div class="form-group">
       					<label for="password">Password</label>
        				<input class="form-control" type="text" th:field="*{password}" id="password" placeholder="Password">
        				<div class="alert alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    				</div>
					
					<div class="form-group">
						<button type="submit" class="btn btn-success">Create</button>	
					</div>
					
					
					

				</form>
			</div>
		</div>
	</div>
</body>
</html>